beautifulsoup4==4.5.3
click==6.6
Flask==0.11.1
Flask-Cors==3.0.2
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
PyYAML==3.12
requests==2.11.1
six==1.10.0
ufal.morphodita==1.9.2.1
Werkzeug==0.11.11
wit==4.2.0
WSGIserver==1.3
